@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
    font-family: "Poppins", sans-serif;


}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 100px;
    background: #1E4B74;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;   
}

.navbar a {
    font-size: 30px;
    color: white;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
}
  
.fa-solid {
    padding: 8px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 30px;
    margin-top: 2px;
    text-decoration: none;
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
   
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 160px;
}

select, input, button {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
#book-image {
    width: 150px;
    height: 150px;
    margin-left: 300px;
    display: flex;

}